body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    overflow-y: auto;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90vw;
    margin: 15px;
    position: relative; /* Для позиционирования кнопки переключения темы */
    transition: background-color 0.3s, box-shadow 0.3s;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/sitelenselikiwenasuki.ttf') format('truetype');
}

.tokipona {
    font-family: 'MyCustomFont';
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
}

p {
    font-family: monospace;
}

h1 {
    font-family: monospace;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.theme-switcher {
    position: absolute; /* Позиционирование относительно контейнера */
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.theme-icon {
    width: 25px; /* Установите нужный размер */
    height: 25px; /* Установите нужный размер */
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .container {
    background-color: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.dark-mode .theme-switcher {
    background-color: #333:
    border-color: transparent; /* Убирает цвет обводки, чтобы соответствовать цвету картинки */
}

.dark-mode .theme-icon {
    content: url('images/hearton2.png'); /* Изображение для темной темы */
}
